@media screen and (max-width: 768px) {
  .big {
    display: none;
  }
  .nav-bar {
    grid-template-columns: 1fr;
  }
  section > .container1 {
    grid-template-columns: 1fr;
  }
  .container2 {
    grid-template-columns: 1fr;
    row-gap: 1px;
    padding-left: 0px;
    padding-right: 0px;
    row-gap: 0;
    column-gap: 0;
    margin-top: 200px;
  }
  .container3 {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .chungchi2 {
    border-top: 1px solid #d6c08d;
  }
  .chungchi1 {
    border-right: 0;
  }
  .container4 {
    padding: 25%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
